<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies Database</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<div class = "container">

    <h3 class = "text-danger">
        <span th:text="${param.get('genre')}"/> directors
    </h3>

    <ul>
        <li th:each="director:${directors}">
            <a th:href="@{/director_page(id = ${director.getId()})}"
               th:text="${director.getName()} + ', ' + ${director.getProb()}"></a>
        </li>
    </ul>

    <div th:if="${directors.getTotalPages() > 1}">
        <a th:if="${directors.getNumber() > 0}"
           th:href="@{/list_of_directors(numberOfLines = ${param.get('numberOfLines')}, genre = ${param.get('genre')},
               page = ${directors.getNumber() - 1}, sort = ${sort} + ',' + ${dir})}">Previous</a>

        <a th:if="${directors.getNumber() < directors.getTotalPages() - 1}"
           th:href="@{/list_of_directors(numberOfLines = ${param.get('numberOfLines')}, genre = ${param.get('genre')},
               page = ${directors.getNumber() + 1},sort = ${sort} + ',' + ${dir})}">Next</a>
    </div>
    <a th:href="@{/}">Go to main page</a>
</div>
</body>
</html>